<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Магазин Хобі</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" scroll="true">
  <ion-card *ngFor="let product of products">
    <img class="product-img" [src]="product.imageUrl" [alt]="product.name" />
    <div class="card-content">
      <ion-card-header>
        <ion-card-title>{{ product.name }}</ion-card-title>
        <ion-card-subtitle>{{ getCategoryName(product.categoryId) }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ product.description }}</p>
        <p><strong>Ціна:</strong> {{ product.price }} грн</p>
      </ion-card-content>
    </div>
  </ion-card>

  <div *ngFor="let category of categories">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ category.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button color="danger" (click)="deleteCategory(category.id)">Видалити</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  
  <div class="form-container">
    <ion-button expand="full" (click)="toggleCategoryForm()">
      {{ categoryFormVisible ? 'Сховати форму' : 'Додати категорію' }}
    </ion-button>

    <ion-card *ngIf="categoryFormVisible" class="ion-padding">
      <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
        <ion-item>
          <ion-label position="floating">ID Категорії</ion-label>
          <ion-input formControlName="id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Назва Категорії</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit" [disabled]="categoryForm.invalid">Зберегти</ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>
