<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Магазин Хобі</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" scroll="true">
  <ion-card *ngFor="let product of filteredProducts">
    <img class="product-img" [src]="product.imageUrl" [alt]="product.name" />
    <div class="card-content">
      <ion-card-header>
        <ion-card-title>{{ product.name }}</ion-card-title>
        <ion-card-subtitle>{{ getCategoryName(product.categoryId) }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ product.description }}</p>
        <p><strong>Ціна:</strong> {{ product.price }} грн</p>
        <ion-button color="danger" (click)="deleteProduct(product.id)">Видалити</ion-button>
        <ion-button color="primary" (click)="toggleProductForm(product)">Редагувати</ion-button>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-button expand="full" (click)="toggleProductForm()">
    {{ productFormVisible ? 'Сховати форму продукту' : 'Додати продукт' }}
  </ion-button>
  <ion-card *ngIf="productFormVisible" class="ion-padding">
    <app-product-form
      (formSubmit)="handleProductFormSubmit($event)"
      [productToEdit]="productToEdit">
    </app-product-form>
  </ion-card>
  <div *ngFor="let category of filteredCategories">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ category.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button color="primary" (click)="toggleCategoryForm(category)">Редагувати</ion-button>
        <ion-button color="danger" (click)="deleteCategory(category.id)">Видалити</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-button expand="full" (click)="toggleCategoryForm()">
    {{ categoryFormVisible ? 'Сховати форму категорії' : 'Додати категорію' }}
  </ion-button>

  <ion-card *ngIf="categoryFormVisible" class="ion-padding">
    <app-category-form
      [categoryToEdit]="categoryToEdit"
      (formSubmit)="handleCategoryFormSubmit($event)">
    </app-category-form>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title>Фільтр за категоріями</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let category of categories">
          <ion-checkbox
            slot="start"
            [checked]="selectedCategoryIds.includes(category.id)"
            (ionChange)="toggleCategoryFilter(category.id)">
          </ion-checkbox>
          <ion-label>{{ category.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>